<!---<div class="jumbotron">
  <h1>Inferno Corporation</h1>
  <p>Welcome to the site of Inferno Corporation! Here you can find our prices, available services, apply for an immortality or order your new body with any params you want.</p>
  <p><%= link_to "Learn more", "", class:"btn btn-lg" %></p>
</div> ---------->
<div class="jumbotron">
<h1>Purgatory</h1>
  <p>Welcome to Purgatory — supernatural dimension created by The Original One to contain his first and most dangerous beasts, the Leviathans.</p>
  <p><%= link_to "Learn more", "", class:"btn btn-lg" %></p>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
  